.header-wrap{
    height: 30px;
    background: #EAEAEA;
}
.header{
    width: 1200px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}
.header .list-left{
    float: left;
}
.header .list-left li{
    float: left;
    height: 30px;
}
.header .list-left li a{
    display: block;
}
.header .list-left .line{
    float: left;
    width: 1px;
    height: 16px;
    background: #B3AEAE;
    margin: 7px 5px 0 0;
}
.header .list-right{
    float: right;
}
.logoAndSearch{
    width: 1200px;
    height: 106px;
    margin: 0 auto;
}
.logoAndSearch .logo{
    float: left;
    height: 56px;
    margin: 25px 0 0 45px;
    /* 插入图方式使用 */
    /* overflow: hidden; */
}
.logoAndSearch .logo a{
    display: block;
    width: 175px;
    height: 56px;
    /* 背景图方式 */
    background: url(../img/Logo.png) no-repeat 0 0;
    /* 首行缩进 */
    text-indent: -9999px;
}
.logoAndSearch-center{
    float: left;
    margin: 10px 0 0 35px;
}
.logoAndSearch-center .baby li{
    float: left;
    width: 36px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #EA4A36;
    /* cup tab键 */
    cursor: pointer;
}

.logoAndSearch-center .baby .current{
    font-weight: 700;
    color: #fff;
    /* 提权 */
    background: #EA4A36 !important;
}

.logoAndSearch-center .baby li:hover{
    background: #FFEEE5;
}
/* 输入框 */
.logoAndSearch-center .sub form .txt{
    width: 477px;
    height: 28px;
    border: 2px solid #EA4A36;
    border-right: none;
    float: left;
    background: url(../img/fang.png) no-repeat 15px center;
    padding-left: 10px;
    /* 圆角属性 */
    /* 左上 右上 右下 左下*/
    border-radius: 20px 0 0 20px;
}
/* 搜索按钮 */
.logoAndSearch-center .sub form .btn{
    float: left;
    width: 70px;
    height: 32px;
    background: #EA4A36;
    color: #fff;
    border-radius: 0 20px 20px 0;
}
.logoAndSearch-center .shopping{
    margin-top: 8px;
}
.logoAndSearch-center .shopping li{
    float: left;
    margin-right: 5px;
}
.all-wrap{
    height: 45px;
    border-bottom: 2px solid #EA4A36;
}
.all{
    width: 1200px;
    height: 45px;
    margin: 0 auto;
}
.all h2{
    width: 210px;
    height: 45px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 45px;
    text-align: center;
    background: #EA4A36;
    float: left;
    font-weight: 700;
}
.all ul{
    float: left;
}
.all ul li{
    float: left;
    font-size: 16px;
    color: #333;
    line-height: 45px;
    margin: 0 23px;
}
/* 主体 */
.main{
    width: 1200px;
    height: 461px;
    background: yellow;
    margin: 0 auto;
}
.main .detail{
    width: 210px;
    height: 461px;
    background: #FAFAFA;
    float: left;
}
/* 左边类目 */
.main .detail ul li{
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    /* 溢出隐藏 */
    overflow: hidden;
}
.main .detail ul li:hover{
    background: darkgray;
}
.main .detail ul li a:hover{
    text-decoration: underline;
}

