@font-face {
  font-family: "iconfont"; /* Project id 3442270 */
  src: url('iconfont.woff2?t=1654005494781') format('woff2'),
       url('iconfont.woff?t=1654005494781') format('woff'),
       url('iconfont.ttf?t=1654005494781') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhanghao:before {
  content: "\e649";
}

.icon-mima:before {
  content: "\e608";
}

